<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#/">Lönekartan</a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li class="active"><a href="#/">Home</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button class="btn" ng-click="app.login()" data-ng-show="!app.authenticated()">Logga in</button></li>
        <li><button class="btn" ng-click="app.logout()" data-ng-show="app.authenticated()">Logga ut</button></li>
      </ul>
    </div>
  </div>
</div>
